#custom-signup-main .container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 35rem;
}
.logo{
  width: 100%;
  z-index: 20;
  pointer-events: none;
}
.giphy-embed {
  margin-left: auto;
  width: 8rem;
  height: 8rem;
}
ul.links{
  list-style: none;
  margin: 35rem 0 2.5rem 0;
  padding: 0;
  text-align: center;
}
.purple-blur {
  width: 80%;
  height: 80vw;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #AF8AF8;
  filter: blur(80px);
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  @supports (-webkit-touch-callout: none) {
    .purple-blur {
      filter: blur(45px);
    }
  }
}
.col-12.flex {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.window {
  position: absolute;
  z-index: 2;
  left: 5%;
  width: 90%;
  max-width: 45rem;
} 
.window .header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 8%;
  display: block !important;
  cursor:pointer;
}
#window2header {
  height: 12%;
}
.main-row {
  position: relative;
  z-index: 2;
}
.relative {
  position: relative;
  z-index: 0;
}
.window>img {
  position: relative;
  z-index: 5;
  width: 100%;
}
.window>video {
  position: absolute;
  width: 96%;
  left: 0;
  bottom: 7%;
}
#window {
  top: -30rem;
}
#window2 {
  top: 30rem;
}
#text-window {
  display: none;
}
#text-window-content {
  position: absolute;
  width: 88%;
  left: 3%;
  top: 20%;
  z-index: 10;
  font-family: Volter Goldfish;
}
#text-window-content p {
  font-family: inherit;
  line-height: 1.3rem;
}
#terminal-content {
  font-family: inherit;
  white-space: pre-wrap;
}

@media screen and (min-width: 576px) {
  .purple-blur {
    height: 43.2rem;
  }
  #text-window2 {
    display: none;
  }
  #text-window {
    display: block;
  }
  #text-window-content {
    top: 27%;
  }
}
@media screen and (min-width: 768px) {
  #window {
    top: -20rem;
    left: 0;
  }
  #window2 {
    left: 0;
    top: 45rem;
  }
  .giphy-embed {
    width: 13rem;
    height: 13rem;
  }
  .purple-blur {
    width: 40%;
    height: 28.8rem;
  }
  #custom-signup-main .container{
    margin-top: 20rem;
  }
  ul.links{
    margin: 20rem 0 2.5rem 0;
  }
}
@media screen and (min-width: 992px) {
  #window {
    top: -15rem;
    left: 0;
  }
  #window2 {
    top: 55rem;
  }
  .giphy-embed {
    width: 17rem;
    height: 17rem;
  }
  .purple-blur {
    height: 38.4rem;
  }
  #custom-signup-main .container{
    margin-top: 16rem;
  }
}
@media screen and (min-width: 1200px) {
  #window {
    top: -10rem;
    left: 0;
  }
  .giphy-embed {
    width: 20rem;
    height: 20rem;
  }
  .purple-blur {
    height: 45.6rem;
  }
  #custom-signup-main .container{
    margin-top: 14rem;
  }
}
.text-container{
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  margin: 2rem 0;
}
@media only screen and (min-width: 768px) {
  .text-container{
    font-size: 5rem;
  }
}
.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.links li{
  display: inline-block;
  margin: 0 1rem;
}
ul.links li::first-child{margin-left: 0;}
ul.links li::last-child{margin-right: 0;}
ul.links li a{
  font-size: 2rem;
  letter-spacing: 0;
  text-transform: uppercase;
}
ul.links li a svg{
  width: 2.5rem;
}
.coming-soon{
  transform: rotate(270deg);
  transform-origin: 0 0;
  position: absolute;
  left: 1rem;
  top: 50%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
.coming-soon span{
  margin: 0 2rem;
}
.type--sport-ivory .coming-soon{display: none;}


.newsletter-form__field-wrapper{

}

form.newsletter-form{max-width: unset!important;}

form .newsletter-form__field-wrapper input{
  box-shadow: none!important;
  padding-right: 5rem;
  border: 2px solid #000;
  background-color: transparent;
}

form .newsletter-form__field-wrapper button{
  width: auto;
  border-left: 2px solid;
  padding: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.type--livrae .text-container{
  margin: 6rem 0;
}

.type--dala .form-container{
  padding: 2rem 4rem;
}

.type--dala .logo-container{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 3rem;
}

.type--dala .sub{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.type--dala .grid-container{
  border: 3px solid #000;
}

.type--dala .text-container{
  font-size: 1.45rem;
  margin: 2rem 0 0;
}

.type--sport-ivory ul.links li a{
  font-size: 1.5rem;
}


.newsletter-form__field-wrapper .field::after, .newsletter-form__field-wrapper .field::before{display: none!important;}
.newsletter-form__field-wrapper .field__input{margin: 0!important;}

@media screen and (max-width: 600px){
  .newsletter-form__field-wrapper .field {
    display: block;
  }
  form .newsletter-form__field-wrapper button{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    border: none;
  }
  .type--livrae .text-container{
    margin: 3rem 0;
  }
}


.fancybox-slide{
  background: rgba(0,0,0,.36)
}

.fancybox-content{
  width: 100%!important;
  max-width: 500px!important;
  border: 3px solid #000!important;
}
