#custom-signup-main .container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo{
  width: 100%;
}
.text-container{
  font-size: 2rem;
  letter-spacing: 0;
  text-align: center;
  margin: 2rem 0;
}
ul.links{
  list-style: none;
  margin: 2.5rem 0;
  padding: 0;
  text-align: center;
}
ul.links li{
  display: inline-block;
  margin: 0 1rem;
}
ul.links li::first-child{margin-left: 0;}
ul.links li::last-child{margin-right: 0;}
ul.links li a{
  font-size: 2rem;
  letter-spacing: 0;
  text-transform: uppercase;
}
ul.links li a svg{
  width: 2.5rem;
}
.coming-soon{
  transform: rotate(270deg);
  transform-origin: 0 0;
  position: absolute;
  left: 1rem;
  top: 50%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
.coming-soon span{
  margin: 0 2rem;
}
.type--sport-ivory .coming-soon{display: none;}


.newsletter-form__field-wrapper{

}

form.newsletter-form{max-width: unset!important;}

form .newsletter-form__field-wrapper input{
  box-shadow: none!important;
  padding-right: 5rem;
  border: 2px solid #000;
  background-color: transparent;
}

form .newsletter-form__field-wrapper button{
  width: auto;
  border-left: 2px solid;
  padding: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.type--livrae .text-container{
  margin: 6rem 0;
}

.type--dala .form-container{
  padding: 2rem 4rem;
}

.type--dala .logo-container{
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 3rem;
}

.type--dala .sub{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.type--dala .grid-container{
  border: 3px solid #000;
}

.type--dala .text-container{
  font-size: 1.45rem;
  margin: 2rem 0 0;
}

.type--sport-ivory ul.links li a{
  font-size: 1.5rem;
}


.newsletter-form__field-wrapper .field::after, .newsletter-form__field-wrapper .field::before{display: none!important;}
.newsletter-form__field-wrapper .field__input{margin: 0!important;}

@media screen and (max-width: 600px){
  .newsletter-form__field-wrapper .field {
    display: block;
  }
  form .newsletter-form__field-wrapper button{
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    border: none;
  }
  .type--livrae .text-container{
    margin: 3rem 0;
  }
}


.fancybox-slide{
  background: rgba(0,0,0,.36)
}

.fancybox-content{
  width: 100%!important;
  max-width: 500px!important;
  border: 3px solid #000!important;
}
